<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Dudes co/Desktop/Intellij/ZohoProject">
        <classes>
            <class name="tests.ZohoLeadTest">
            </class>
        </classes>
    </test>
</suite>